# DATA CLEANING

In [2]:
# import all the necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [10]:
df = pd.read_csv("../Data/Raw Data from PropertyPro.csv")

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5038 entries, 0 to 5037
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Title      5038 non-null   object
 1   Price      5038 non-null   object
 2   Location   5038 non-null   object
 3   Amenities  5038 non-null   object
 4   Type       5038 non-null   object
 5   Agent      5038 non-null   object
 6   Link       5038 non-null   object
 7   Date       5038 non-null   object
dtypes: object(8)
memory usage: 315.0+ KB

In [14]:
df.describe()

,Title,Price,Location,Amenities,Type,Agent,Link,Date
count,5038,5038,5038,5038,5038,5038,5038,5038
unique,1739,563,1733,39,1739,114,4641,588
top,2 Bedroom Apartment,"₦ 150,000,000",Lekki Phase 1 Lekki Lagos,,2 Bedroom Apartment,\n Tugaris Realtor \n,/property/4-bedroom-house-for-sale-orchid-lekk...,"Updated 31 Oct 2025, Added 15 Oct 2025"
freq,200,176,328,1091,200,246,8,91